body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: maroon;
  scroll-behavior: smooth;
}

.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: maroon; 
}

.wadah-header {
  display: flex;
  justify-content: center;
  
}

.header {
  background-color: maroon;
  background-image: url("../assets/bintang.png");
  background-size: contain;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99999;
  border-radius: 0px 0px 50px 50px;
  width: 100%;
}

.logo {
  height: 60px;
  margin-right: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  gap: 20px;
}

.nav-link, .login {
  text-decoration: none;
  font-size: 18px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link.active {
  background-color: maroon;
  color: black;
}

.nav-link:hover {
  background-color: maroon;
  color: black;
}

.login:hover {
  background-color: maroon;
  color: black;
}

.section-home {
  padding: 100px 20px 50px;
  text-align: center;
  background-color: #C5982D;
}

.section-home h2 {
  margin-bottom: 20px;
}

.section-timeline {
  padding: 80px 20px 80px 20px;
  text-align: center;
  background-color: #C5982D;
}

.section-timeline h2 {
  margin-bottom: 20px;
}

.section-timeline p {
  font-size: 28px;
}

* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  height: 90%;
}

.timeline-container {
  padding: 40px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container.left {
  left: 0;
}

.timeline-container.right {
  left: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #c5982d;
  border: 4px solid #800000;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.timeline-container.left::after {
  right: -17px;
}

.timeline-container.right::after {
  left: -17px;
}

.timeline-container.show::after {
  opacity: 1;
  transform: scale(1);
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 18px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.content h2 {
  margin-top: 0;
  border: 1px solid black;
  background-color: lightgrey;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
}

.content.show {
  border: 2px solid #000;
  opacity: 1;
  transform: translateY(0);
}

.section-lomba {
  padding: 80px 20px 80px 20px;
  text-align: center;
  background-color: maroon;
}

.section-lomba h2 {
  margin-bottom: 20px;
}

.lomba-content {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.lomba-item {
  background-color: #d3d3d3;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;
}

.lomba-front:hover{
  background-color:#79747e;
}

.lomba-back:hover{
  background-color:#79747e;
}

.lomba-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: 2px solid #000;
  border-radius: 10px;
  
}

.lomba-item.flipped .lomba-inner {
  transform: rotateY(180deg);
}

.lomba-front, .lomba-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
}

.lomba-front {
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lomba-back {
  background-color: #d3d3d3;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lomba-item img {
  width: 30%;
  margin-bottom: 10px;
}

.lomba-item p {
  font-weight: bold;
}

.section-pengumuman {
  padding: 80px 20px 100px 20px;
  text-align: center;
  background-color: #C5982D;
  margin-bottom: 20px;
}

.section-pengumuman h2 {
  margin-bottom: 20px;
}

.section-pengumuman p {
  margin-bottom: 20px;
}

.pengumuman-content {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.pengumuman-item {
  background-color: #d3d3d3;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
}

.pengumuman-item img {
  width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.pengumuman-date {
  background-color: #d3d3d3;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  border: 2px solid black;
}

.pengumuman-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.download-button,
.detail-button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.download-button:hover,
.detail-button:hover {
  background-color: #5a6268;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  background-color: #d3d3d3;
  padding: 20px;
  text-align: left;
  width: 45%;
  border: 2px solid #000;
  border-radius: 10px;
}

.image-placeholder {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 2px solid #000; 
}

.timer-box {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.timer-box1 {
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.timer-box span {
  font-size: 20px;
}

.section-sambutan {
  padding: 80px 20px 80px 20px;
  background-color: maroon;
  text-align: center;
}

.sambutan-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /
}

.sambutan-description {
  width: 50%;
  padding: 20px;
  text-align: left;
}

.sambutan-header {
  display: flex;
  align-items: center;
}

.sambutan-logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.selengkapnya-button {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.selengkapnya-button:hover {
  background-color: #5a6268;
}

.lomba-content,
.pengumuman-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.lomba-item,
.pengumuman-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 30%;
}

footer {
  background-color: maroon;
  text-align: center;
  padding-bottom: 5px;
}

footer .sosial {
  padding-bottom: 15px;
  font-size: 3rem;
}

footer .sosial h1 {
  font-size: 1rem;
  color: #fff;
}

footer .sosial a {
  color: #fff;
  margin: 9px;
  font-size: 1.5rem;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 1rem;
}

footer .sosial a:hover {
  color: var(--clr2);
  transition: .5s ease;
  transform: translateY(.2rem);
}

.oval-shape {
  display: inline-block;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #000;
  color: #000;
}
